<header class="bg-gray-800 text-white py-4">
    <div class="container mx-auto flex justify-between items-center px-4">
        <a href="{% url 'webbase:index' %}" class="font-bold text-white text-xl sm:text-2xl">Tyton Sells </a>
  
      <button class="flex items-center text-white focus:outline-none sm:hidden">
        <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
  
      <nav class="text-lg sm:flex hidden">
        <a href="{% url 'webbase:CategoriaView' %}" class="px-4 py-2">Categorias</a>
        <a href="#" onclick="showModal()" class="px-4 py-2">Contacto</a>
      </nav>
  
      <div class="flex items-center">
        <ul class="sm:flex hidden">
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}" class="px-4 py-2 bg-white text-gray-800 rounded-full font-bold">Desconectar</a></li>
          {% else %}
          <li><a href="{% url 'login' %}" class="px-4 py-2 bg-white text-gray-800 rounded-full font-bold">Log In</a></li>
          {% endif %}
        </ul>
        
        
        
        <a href="{% url 'webbase:CarritoView' %}" class="ml-4 relative inline-block w-8">
          <img src="https://img.icons8.com/material-outlined/24/ffffff/shopping-cart--v1.png" class=""/>
          {% if cart_count > 0 %}
          <span id="cart-count" hx-target="#cart-count" class="bg-red-600 text-white rounded-full py-1 px-2 text-xs absolute top-0 right-0" style="transform: translate(60%, 0%)">{{ cart_count }}</span>
          {% endif %}
        </a>
        
        
        
        

      </div>
    </div>
  
</header>
<!-- Button to open the modal -->
<!-- <button class="px-4 py-2 bg-blue-500 text-white rounded-lg" onclick="showModal()">Open Modal</button> -->

<!-- Modal -->
<div class="fixed inset-0 bg-gray-900 bg-opacity-50 z-50 h-screen overflow-hidden hidden" id="modal">
    <div class="fixed inset-y-0 items-center h-full">
      <div class="bg-white rounded-lg h-screen p-4">
        <h2 class="text-xl font-bold mb-4">Categorias</h2>
        <ul>
          <li><a href="" class="mb-4">categoria1</a></li>
          <li><a href="" class="mb-4">categoria2</a></li>
          <li><a href="" class="mb-4">categoria3</a></li>
        </ul>
      </div>
      <div class="absolute bottom-0 left-0 right-0 p-4 bg-white rounded-b-lg">
        <button class="px-4 py-2 bg-red-500 text-white rounded-lg mr-2" onclick="hideModal()">Close</button>
      </div>
    </div>
    <div class="fixed inset-0 z-40" onclick="hideModal()" id="outsideModal"></div>
  </div>
  
  

<script>
  function showModal() {
    document.getElementById("modal").classList.remove("hidden");
  }

  function hideModal() {
    document.getElementById("modal").classList.add("hidden");
  }

 

</script>

  
  
  
    